*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.qeydiyyatsiz{
    margin: 0 auto;
    width: 90%;
    height: auto;
    background-color: rgb(234, 228, 228);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qeydiyyatsiz-header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qeydiyyatsiz-header > p{
    font-size: 19px;
    color: rgb(38, 55, 138);
    font-weight: 600;
    margin: 10px 0;
}
.qeydiyyatsiz-header > h3{
    font-size: 22px;
    margin: 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.qeydiyyatsiz-body{
    width: 90%;
    height: auto;
    display: grid;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
}
.qeydiyyatsiz-reklam{
    width: 100%;
    display: flex;
    align-items: center;
    height: 180px;
    justify-content: center;
    padding: 0 2rem;
}
.qeydiyyatsiz-reklam img{
    width: 100%;
    border-radius: 20px;
}
.qeydiyyatsiz-reklam a{
    max-width: 40rem;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .qeydiyyatsiz-reklam a{
        width: 95%;
    }
    .qeydiyyatsiz-reklam img{
        border-radius: 10px;
    }
    
}