*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-info{
    display: flex;
}
.contact-sosial-media{
    width: 120px;
    border-right: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-sosial-media a{
    color: #222;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
    transition: 500ms all;
}
.contact-sosial-media a:hover{
    background-color: rgb(80, 80, 167);
    border-radius: 100%;
    color: #fff;
}
.contact-cont{
    display: flex;
    align-items: center;
}
.contact-cont a{
    margin: 0 20px;
    text-decoration: none;
    color: #222;
}
@media screen and (max-width: 960px) {
    .contact{
        flex-direction: column-reverse;
    }
    .contact-info{
        flex-direction: column;
    }
    .contact-sosial-media{
        width: 90%;
        justify-content: space-between;
        border-right: 0px solid gray;
    }
    .contact-cont{
        padding: 20px 0;
        flex-direction: column;
    }
    .contact-cont a{
        margin: 20px 0;
    }
    .contact-cont span{
        margin: 20px 0;
    }
}